@using PagedList.Mvc
@model PagedList.IPagedList<WEBBANMP_NLCS.Models.SANPHAM>

@{
    ViewBag.Title = "ThuongHieu";
    Layout = "~/Views/Layout/_HomeLayout.cshtml";
}

@Html.Partial("SanPhamPartial", Model)

<div class="text-right">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page, @MaNSX = ViewBag.MaNSX }))
</div>