
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi</title>
</head>
<body>
    <div> 
        <h2> Bạn không có quyền truy cập vào trang này! </h2>
    </div>
</body>
</html>
