@using WEBBANMP_NLCS.Models
@using System.Globalization
@model IEnumerable<NHASANXUAT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

    // khởi tạo control webgrid
    WebGrid grid = new WebGrid(source: Model);
}

<h1 class="h3 mb-2 text-gray-800">Quản lý nhà sản xuất</h1>

<div class="card-header py-3">
    <a class="btn btn-info" href="@Url.Action("TaoMoiNhaSanXuat")"> <i class="fas fa-plus"></i> Tạo mới</a>
</div>

@grid.GetHtml(
   tableStyle: "table table-bordered table-hover",
   headerStyle: "thead-light text-center",
   columns: grid.Columns(
     grid.Column("NSX_MA", "Mã nhà sản xuất", style: "text-center"),
     grid.Column("NSX_TEN", "Tên nhà sản xuất"),
     grid.Column(format: p => @Html.ActionLink("Sửa", "SuaNhaSanXuat", new { id = p.NSX_MA })),
     grid.Column(format: p => @Html.ActionLink("Xóa", "XoaNhaSanXuat", new { id = p.NSX_MA }))
   )
)


